
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/assembly tray 1 CuW BP.xls
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/assembly tray 1 loading pins flush.xls
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/assembly tray 1 PCB BP.xls
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Book1.xlsx
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Corrections.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Fiducials.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/loading pin center.py
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/measured assembly tray.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Relative Coordinates CuW BP.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Relative Coordinates flush.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Relative Coordinates PCB BP.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Relative Coordinates.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Syringe Coordinates CuW BP.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Syringe Coordinates PCB BP.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Syringe Coordinates flush.txt
Assembly Data/Coordinate Data/Assembly Tray/1/test/target/Syringe Coordinates.txt
Assembly Data/Coordinate Data/Assembly Tray/1/Fiducials.txt
Assembly Data/Coordinate Data/Component Tray/1/Fiducials.txt
Assembly Data/Coordinate Data/Assembly Tray/1/Fiducials.txt
Assembly Data/Coordinate Data/Component Tray/1/Fiducials.txt
Assembly Data/Coordinate Data/Assembly Tray/1/Fiducials.txt
Assembly Data/Coordinate Data/Component Tray/1/Fiducials.txt
